<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
layout:decorate="~{layouts/main}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Test Error Page!</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"></link>
    <style>
    .errorPage{
    margin-top : 103px;
    text-align : center;
    }
    </style>
</head>
<body>
<div layout:fragment="content">
	    <div class="errorPage">
	        <img src="https://cdn.dribbble.com/users/761395/screenshots/6130138/media/86271a85626cdd5fe5aebd813729144d.png">
	    </div>
</div>
</body>
</html>